 .u-section-1 {
  background-image: url("images/pexelsphoto2473183.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 6rem;
  width: 910px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.25rem;
  font-weight: 300;
  width: 910px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}